html, body{
	margin:0;
	padding:0;
	overflow: hidden;
}

header{
height:10%;
background-color:#644B77;
}

nav{

}

#logo{
	height:69px;
	width:150px;
	float:left;
	margin-left:10px;
}




#text-logo{
	font-family: 'Nosifer', cursive;
	color:#FACD63;
	margin:auto;
	font-size:45px;
	position:relative;
	left:13%;
}

@media only screen and (max-width: 1100px) {
    #text-logo {
        font-size:30px;
    }
}

@media only screen and (max-width:760px){
	#text-logo {
		left:0%;
	}
}